<!-- Design a currency converter application using AngularJS  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency converter using AngularJS</title>

    <!-- Angular JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <section ng-app="currency" ng-controller="currCtrl">
        <div class="contianer">
            <label for="">Enter INR: </label>
            <input type="text" ng-model="userinput"><br><br>
            <label for="">From: </label>
            <select name="currencyFrom" id="" ng-model="currecyfrom">
                <option value="INR">INR</option>
                <option value="USD">USD</option>
            </select>

            <label for="">To: </label>
            <select name="currencyTo" id="" ng-model="currecyto">
                <option value="INR">INR</option>
                <option value="USD">USD</option>
            </select>

            <br><br><br>

            <button ng-click="convert()">Convert</button>

            <p ng-bind="result"></p>
        </div>
    </section>


    <script type="text/javascript">

        var app = angular.module('currency', []);
        app.controller('currCtrl', function ($scope) {

            $scope.convert = function () {
                if ($scope.currencyfrom == "INR" && $scope.currencyto == "USD") {
                    $scope.result = $scope.userinput * 60;
                }
            }

        });
    </script>

</body>

</html>